<div appTextResizer>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius impedit omnis praesentium, atque optio facilis at
	aperiam doloremque commodi quas enim cupiditate non. Assumenda accusamus excepturi ipsum sit totam dignissimos.
</div>

<!-- <span appTextResizer>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius impedit omnis praesentium, atque optio facilis at
	aperiam doloremque commodi quas enim cupiditate non. Assumenda accusamus excepturi ipsum sit totam dignissimos.
</span> -->